@charset "utf-8";

// Brand colors
$columbia-blue: #c4d4e7;
$v-light-malachite-green: #61e786;
$davy-grey: #5a5766;
$isabelline: #f1f7ed;
$pineapple: #48435c;
$ceil: #9792e3;

// Update colors
$info: $v-light-malachite-green;
$link: $davy-grey;

// Font
$family-sans-serif: 'Noto Sans', sans-serif;

// Update some of Bulma's component variables
// $body-background-color: $light-purple;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Switch
$switch-focus: none;
$switch-background: $columbia-blue;
$switch-paddle-background: $isabelline;

// Import only what you need from Bulma
@import 'node_modules/bulma/bulma';
@import 'node_modules/bulma/sass/utilities/functions';
@import 'node_modules/bulma-extensions/bulma-badge/src/sass/index';
@import 'node_modules/bulma-extensions/bulma-switch/src/sass/index';
@import 'node_modules/bulma-extensions/bulma-tooltip/src/sass/index';
// @import 'node_modules/bulma-extensions/bulma-pricingtable/src/sass/index';
// @import 'node_modules/bulma-extensions/bulma-pageloader/dist/bulma-pageloader';
