.has-text-blue {
	color: $columbia-blue;
}

.has-text-green {
	color: $v-light-malachite-green;
}

.has-text-grey {
	color: $davy-grey;
}

.has-text-isabelline {
	color: $isabelline;
}

.has-text-pineapple {
	color: $pineapple;
}

.has-text-ceil {
	color: $ceil;
}



.is-blue {
	background-color: $columbia-blue;
}

.is-green {
	background-color: $v-light-malachite-green;
}

.is-grey {
	background-color: $davy-grey;
}

.is-isabelline {
	color: $isabelline;
}

.is-pineapple {
	background-color: $pineapple;
}

.is-ceil {
	background-color: $ceil;
}
