.has-text-columbia-blue {
	color: $columbia-blue;
}

.has-text-columbia-blue-important {
	color: $columbia-blue !important;
}

.has-text-malachite-green {
	color: $v-light-malachite-green;
}

.has-text-davy-grey {
	color: $davy-grey;
}

.has-text-isabelline {
	color: $isabelline;
}

.has-text-isabelline-important {
	color: $isabelline !important;
}

.has-text-pineapple {
	color: $pineapple;
}

.has-text-ceil {
	color: $ceil;
}

.has-text-soft-pink {
	color: $soft-pink;
}



.is-columbia-blue {
	background-color: $columbia-blue;
}

.is-malachite-green {
	background-color: $v-light-malachite-green;
}

.is-davy-grey {
	background-color: $davy-grey;
}

.is-isabelline {
	color: $isabelline;
}

.is-pineapple {
	background-color: $pineapple;
}

.is-ceil {
	background-color: $ceil;
}

.is-soft-pink {
	background-color: $soft-pink;
}
