@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Navbar
.landing-navbar-title {
  font-size: 2rem;
}

.wags-logo {
  max-height: 2rem;
  margin-bottom: .15rem;
}

.landing-donate-button {
  border-color: $soft-pink;

  &:hover {
    color: $isabelline;
    border-color: $soft-pink;
  }

  &.landing-donate-fixed {
    background: $soft-pink;
    color: $isabelline;
  }
}

.navbar-item {

  &.is-tab {
    &.is-active {
      border-bottom-width: 2px;
    }
    &:hover {
      color: $pineapple !important;
      border-bottom-color: $pineapple;
    }
    &.tab-fixed {
      color: $isabelline !important;
      &:hover {
        border-bottom-color: $isabelline;
        border-bottom-width: 1px;
      }
    }
  }

}

.is-fixed-top {
  background: $davy-grey !important;
  padding: 0 2rem !important;
}

  // Modal
  .modal-header {
    background-color: $isabelline;
    border-radius: 4px 4px 0 0;
    padding: 1em;
  }

  // About Modal
  .about-paragraph {
    padding: 2em 0;
  }

  // Contact Us Modal

  // Signup Modal
  .modal-header-auth {
    background-color: $isabelline;
    border-radius: 4px 4px 0 0;
    padding: 1em 1em 0 0;
  }

  .auth-tabs {
    display: flex;
    align-Items: center;
    cursor: pointer;
    border-bottom-color: $isabelline;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    justify-content: center;
    margin-bottom: -1px;
    padding: .5em 1em;
    vertical-align: top;

    &:hover {
      font-weight: bold;
      border-bottom-color: $davy-grey;
      color: $davy-grey;
    }

    &.is-active {
      font-weight: bold;
      border-bottom-color: $davy-grey;
      color: $davy-grey;
    }
  }

// Hero
.couch-shadow {
  filter: drop-shadow(0 0 30px #333);
}

.door {
  width: 300px;
  height: 20px;
  background-color: #803300;
  margin-left: 45%;
  transform: translateY(200px);
  position: absolute;
}

.door-knob-shaft-top {
  width: 10px;
  height: 10px;
  background-color: yellow;
  position: absolute;
  margin-top: -.65em;
  margin-left: 2.3em;
}

.door-knob-handle-top {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  margin-top: -1.5em;
  margin-left: 2em;
}

.door-knob-shaft-btm {
  width: 10px;
  height: 10px;
  background-color: yellow;
  position: absolute;
  margin-top: 1.25em;
  margin-left: 2.3em;
}

.door-knob-handle-btm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  margin-top: 1.5em;
  margin-left: 2em;
}

#hero-button {
  border-color: $v-light-malachite-green;
}

// Value
.icon-padding {
  padding: 1em;
}

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@include phone {
  .phone-hide {
    opacity: 0;
  }
}

.value-prop-icon {
  border-radius: 50%;
  width: 50em;
  height: 3em;
}

// Social
.social-img {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.value-calendar-icon {
  padding: 1rem .82rem;
}

.value-plane-icon {
  padding: 1rem .7rem;
}

.value-syringe-icon {
  padding: 1rem .7rem;
}

// Adoption
.adopt-img-overlay {
  z-index: 1;
  position: absolute;
  filter: opacity(80%);
  width: 100%;
  height: 100%;
}

.adopt-img-fadein {
  -webkit-animation: adopt-img-fadein .5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: adopt-img-fadein .5s; /* Firefox < 16 */
  -ms-animation: adopt-img-fadein .5s; /* Internet Explorer */
  -o-animation: adopt-img-fadein .5s; /* Opera < 12.1 */
  animation: adopt-img-fadein .5s;
}

@keyframes adopt-img-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes adopt-img-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes adopt-img-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes adopt-img-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes adopt-img-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.adopt-description {
  font-family: 'Lato';
  font-weight: bold;
  padding: 1em;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.is-divider-vertical[data-content]::after, .is-divider[data-content]::after {
  background-color: $ceil;
}

.is-divider, .is-divider-vertical {
  border-top: .1rem solid $pineapple;
}

// Donation
.dollar-sign {
  position: absolute;
  z-index: 1;
  margin-left: .5em;
  margin-top: .8em;
}

.donation-input {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid;
  border-bottom-color: $v-light-malachite-green;
  border-radius: 0;
  width: 60%;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em .2em 0 .2em;
  color: $isabelline;
  &:hover, &:focus {
    box-shadow: none;
    border-color: $pineapple;
    border-bottom-color: $v-light-malachite-green;
  }
}

.donation-options {
  padding: 1rem;
  &:active {
    border-radius: 4px;
    background-color: $pineapple;
  }
}

.interval-selected {
  &:hover {
    color: $isabelline;
  }
}

.interval-unselected {
  &:hover {
    color: $pineapple;
  }
}

#landing-checkout-button {
  border-color: $soft-pink;
}

// Footer
.footer-item {
  &:hover {
    color: $v-light-malachite-green;
  }
}

.wags-logo-footer {
  margin-right: 2rem;
}
